---
core:
  admin_user: {{ wireguard_portal_admin_user | default("admin") }}
  admin_password: {{ wireguard_portal_admin_password | default("wgportal") }}
advanced:
  log_level: debug
  log_pretty: true
  start_listen_port: {{ wireguard_port }}
web:
  external_url: http://{{ inventory_hostname }}:{{ wireguard_portal_port }}
  request_logging: true
