[Interface]
PrivateKey = {{ peers_keys['wireguard_private_key_' + item.name] }}
{% if item.wireguard_addresses is defined %}
Address = {{ item.wireguard_addresses | join(', ') }}
{% endif %}
{% if item.wireguard_dns is defined %}
DNS = {{ item.wireguard_dns | join(', ') }}
{% endif %}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
{% if wireguard_server_preshared_key is defined %}
PresharedKey = {{ wireguard_server_preshared_key }}
{% endif %}
{% if wireguard_server_ddns_name is defined %}
Endpoint = {{ wireguard_server_ddns_name }}
{% else %}
Endpoint = {{ wireguard_server_host }}:{{ wireguard_port }}
{%  endif %}
{% if item.wireguard_allowed_ips is defined %}
AllowedIPs = {{ item.wireguard_allowed_ips | join(', ') }}
{% endif %}
