[Interface]
PrivateKey = {{ server.wireguard_private_key }}
{% if server.wireguard_addresses is defined %}
Address = {{ server.wireguard_addresses | join(', ') }}
{% endif %}
{% if server.wireguard_mtu is defined %}
MTU = {{ server.wireguard_mtu }}
{% endif %}
{% if server.wireguard_listen_port is defined %}
ListenPort = {{ server.wireguard_listen_port }}
{% endif %}
PreUp = ufw route allow in on {{ server.wireguard_interface }} out on {{ server.default_interface }}; iptables -t nat -I POSTROUTING -o {{ server.default_interface }} -j MASQUERADE; ip6tables -t nat -I POSTROUTING -o {{ server.default_interface }} -j MASQUERADE
PostDown = ufw route delete allow in on {{ server.wireguard_interface }} out on {{ server.wireguard_interface }}; iptables -t nat -D POSTROUTING -o {{ server.wireguard_interface }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o {{ server.wireguard_interface }} -j MASQUERADE

{% if peers is defined %}
{% for peer in peers %}
### begin {{ peer.name }} ###
[Peer]
PublicKey = {{ peers_keys['wireguard_public_key_' + peer.name] }}
{% if peer.wireguard_preshared_key is defined %}
PresharedKey = {{ peer.wireguard_preshared_key }}
{% endif %}
{% if peer.wireguard_addresses is defined %}
AllowedIPs = {{ peer.wireguard_addresses | join(', ') }}
{% endif %}
### end {{ peer.name }} ###
{% endfor %}
{% endif %}
