[Interface]
PrivateKey = {{ wireguard_server_private_key }}
{% if wireguard_server_addresses is defined %}
Address = {{ wireguard_server_addresses | join(', ') }}
{% endif %}
{% if wireguard_server_mtu is defined %}
MTU = {{ wireguard_server_mtu }}
{% endif %}
{% if wireguard_server_listen_port is defined %}
ListenPort = {{ wireguard_server_listen_port }}
{% endif %}
PostUp = ufw route allow in on {{ wireguard_server_interface }} out on {{ wireguard_server_default_interface }}; iptables -t nat -I POSTROUTING -o {{ wireguard_server_default_interface }} -j MASQUERADE; ip6tables -t nat -I POSTROUTING -o {{ wireguard_server_default_interface }} -j MASQUERADE
PreDown = ufw route delete allow in on {{ wireguard_server_interface }} out on {{ wireguard_server_default_interface }}; iptables -t nat -D POSTROUTING -o {{ wireguard_server_default_interface }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o {{ wireguard_server_default_interface }} -j MASQUERADE

{% if wireguard_peers is defined %}
{% for peer in wireguard_peers %}
### begin {{ peer.name }} ###
[Peer]
PublicKey = {{ peers_keys['wireguard_public_key_' + peer.name] }}
{% if peer.wireguard_preshared_key is defined %}
PresharedKey = {{ peer.wireguard_preshared_key }}
{% endif %}
{% if peer.wireguard_addresses is defined %}
AllowedIPs = {{ peer.wireguard_addresses | join(', ') }}
{% endif %}
### end {{ peer.name }} ###
{% endfor %}
{% endif %}
