{% if wireguard_server_default_interface is defined %}
IPv4dev={{ wireguard_server_default_interface }}
pivpnDEV={{ pivpn_pivpnDEV }}
IPv6dev={{ pivpn_IPv6dev }}
{% endif %}
{% if pivpn_IPv4addr is defined %}
IPv4addr={{ pivpn_IPv4addr }}
{% endif %}
{% if pivpn_IPv4gw is defined %}
IPv4gw={{ pivpn_IPv4gw }}
{% endif %}
{% if pivpn_dhcpReserv is defined %}
dhcpReserv={{ pivpn_dhcpReserv }}
{% endif %}
{% if pivpn_pivpnenableipv6 is defined %}
pivpnenableipv6={{ pivpn_pivpnenableipv6 }}
{% endif %}
{% if pivpn_install_user is defined %}
install_user={{ pivpn_install_user }}
{% endif %}
{% if pivpn_install_home is defined %}
install_home={{ pivpn_install_home }}
{% endif %}
{% if pivpn_VPN is defined %}
VPN={{ pivpn_VPN }}
{% endif %}
{% if pivpn_pivpnNET is defined %}
pivpnNET={{ pivpn_pivpnNET }}
{% endif %}
{% if pivpn_subnetClass is defined %}
subnetClass={{ pivpn_subnetClass }}
{% endif %}
{% if pivpn_pivpnPROTO is defined %}
pivpnPROTO={{ pivpn_pivpnPROTO }}
{% endif %}
{% if pivpn_pivpnPORT is defined %}
pivpnPORT={{ pivpn_pivpnPORT }}
{% endif %}
{% if pivpn_pivpnDNS1 is defined %}
pivpnDNS1={{ pivpn_pivpnDNS1 }}
{% endif %}
{% if pivpn_pivpnDNS2 is defined %}
pivpnDNS2={{ pivpn_pivpnDNS2 }}
{% endif %}
{% if pivpn_pivpnHOST is defined %}
pivpnHOST={{ pivpn_pivpnHOST }}
{% endif %}
{% if pivpn_pivpnENCRYPT is defined %}
pivpnENCRYPT={{ pivpn_pivpnENCRYPT }}
{% endif %}
{% if pivpn_pivpnSEARCHDOMAIN is defined %}
pivpnSEARCHDOMAIN={{ pivpn_pivpnSEARCHDOMAIN }}
{% endif %}
{% if pivpn_TWO_POINT_FOUR is defined %}
TWO_POINT_FOUR={{ pivpn_TWO_POINT_FOUR }}
{% endif %}
{% if pivpn_USE_PREDEFINED_DH_PARAM is defined %}
USE_PREDEFINED_DH_PARAM={{ pivpn_USE_PREDEFINED_DH_PARAM }}
{% endif %}
{% if pivpn_UNATTUPG is defined %}
UNATTUPG={{ pivpn_UNATTUPG }}
{% endif %}
{% if pivpn_pivpnforceipv6route is defined %}
pivpnforceipv6route={{ pivpn_pivpnforceipv6route }}
{% endif %}
{% if pivpn_pivpnforceipv6 is defined %}
pivpnforceipv6={{ pivpn_pivpnforceipv6 }}
{% endif %}
{% if pivpn_pivpnenableipv6 is defined %}
pivpnenableipv6={{ pivpn_pivpnenableipv6 }}
{% endif %}
{% if pivpn_pivpnNETv6 is defined %}
pivpnNETv6={{ pivpn_pivpnNETv6 }}
{% endif %}
{% if pivpn_subnetClassv6 is defined %}
subnetClassv6={{ pivpn_subnetClassv6 }}
{% endif %}
{% if wireguard_peers_allowed_ips is defined %}
ALLOWED_IPS={{ wireguard_peers_allowed_ips | join(', ') }}
{% endif %}
{% if pivpn_pivpnMTU is defined %}
pivpnMTU={{ pivpn_pivpnMTU }}
{% endif %}
{% if pivpn_pivpnPERSISTENTKEEPALIVE is defined %}
pivpnPERSISTENTKEEPALIVE={{ pivpn_pivpnPERSISTENTKEEPALIVE }}
{% endif %}
{% if pivpn_pivpnINSTALLED_PACKAGES is defined %}
pivpn_INSTALLED_PACKAGES={{ pivpn_pivpnINSTALLED_PACKAGES }}
{% endif %}
